<h1>Welcome!</h1>
<h2>Fill out the form to get weather data for a city. Enjoy!</h2>

<h3>Current weather in <%= @facade.location_time_date %> </h3>
<p></p>



# insert form with city, state, country fields

