<h1>Welcome! Fill out the form to get weather data for a city. Enjoy!</h1>

<h2>Current weather in <%= @facade.location_time_date %> </h2>
<h3>Temp: <%= @facade.nearest_city_temp %> F</h3>
<h3>Humidity: <%= @facade.nearest_city_humidity %> </h3>
<h3>Wind Speed: <%= @facade.nearest_city_wind_speed %> mph</h3>




